:root
  --LimeGreen: #32CD32
  --LimeGreenL: rgba(50,205,50,0.4)
  --Violet: #EE82EE
  --MediumBlue: #000088
  --Red: #FF0000
  --DeepPink: #FF1493
  --Pink: #FFC0CB
  --SpringGreen: #00FF7F
  --Thistle: #D8BFD8
  --Plum: #DDA0DD
  --LightSalmon: #FFA07A
  --LightCoral:#F08080
  --enable-responsive-font-size true 
  --enable-gradients true
  

.h-screen
    height 100vh

.shadow
    box-shadow: 0 0.5rem 1rem rgba(60,179,113,0.15) !important;
.shadow-sm
    box-shadow: 0 0.125rem 0.25rem rgba(60,179,113,0.075) !important;
.shadow 
    box-shadow: 0 0.5rem 1rem rgba(60,179,113,0.15) !important;
.shadow-lg
    box-shadow: 0 1rem 3rem rgba(60,179,113,0.175) !important;
.shadow-none
    box-shadow: none !important;

